<div
    class="head"
    [ngClass]="getHeadClass()"
>
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container">
                <div
                    *ngIf="!canShowSearchAsOverlay"
                    class="normal-search"
                >
                    <input
                        type="search"
                        name=""
                        id=""
                        class="search"
                        placeholder="Search..."
                    />
                    <i class="fas fa-search search-icon"></i>
                </div>
                <div *ngIf="canShowSearchAsOverlay">
                    <button
                        [cdkMenuTriggerFor]="searchOverlay"
                        class="search-menu-btn ripple"
                    >
                        <i class="fas fa-search search-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-menu-item">
                    <button
                        [cdkMenuTriggerFor]="languageOverlay"
                        class="head-menu-item-btn ripple"
                    >
                        <img
                            [src]="'assets/flags/' + selectedLanguage.flag + '.png'"
                            alt="flag"
                            class="flag"
                            width="24"
                        />
                    </button>
                </div>
                <div class="head-menu-item">
                    <button
                        [cdkMenuTriggerFor]="notificationOverlay"
                        class="head-menu-item-btn ripple"
                    >
                        <i class="fas fa-bell menu-icon"></i>
                    </button>
                </div>
            </div>
            <div class="head-user-avatar-container">
                <div
                    class="head-user-avatar"
                    [cdkMenuTriggerFor]="userOverlay"
                >
                    <img
                        src="../../../assets/img/user.png"
                        alt="user"
                        class="user-avatar"
                    />
                    <div class="circle-indicator pulse"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #searchOverlay>
    <div
        class="overlay overlay-search overlay-fall"
        cdkMenu
    >
        <input
            type="search"
            name=""
            id=""
            class="search"
            placeholder="Search..."
        />
        <button class="search-btn">
            <i class="fas fa-search search-icon"></i>
        </button>
    </div>
</ng-template>

<ng-template #languageOverlay>
    <div
        class="overlay overlay-language overlay-fall"
        cdkMenu
    >
        <ul>
            <li
                *ngFor="let lang of languages"
                cdkMenuItem
            >
                <img
                    [src]="'assets/flags/' + lang.flag + '.png'"
                    alt="flag"
                />
                <span>{{ lang.language }}</span>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #notificationOverlay>
    <div
        class="overlay overlay-notification overlay-fall"
        cdkMenu
    >
        <ul>
            <li class="notification-head-container">
                <div class="notification-head">Notification</div>
                <span class="view-all-link">
                    <a>View All</a>
                </span>
            </li>
            <li
                class="notification-message-container"
                *ngFor="let notification of notifications"
                cdkMenuItem
            >
                <i [class]="notification.icon"></i>
                <div class="notification-subject">
                    {{ notification.subject }}
                </div>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #userOverlay>
    <div
        class="overlay overlay-user overlay-fall"
        cdkMenu
    >
        <ul>
            <li
                *ngFor="let item of userItems"
                cdkMenuItem
            >
                <a>
                    <i
                        class="icon"
                        [ngClass]="item.icon"
                    ></i>
                    <span>{{ item.label }}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>
